.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-top {
    overflow: hidden;
    background: #222;
    color: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 10%;
}

.form-top .left {
    width: 75%;
}

.form-top .left h4 {
    float: left;
}

.form-top .right {
    padding-top: 0.2em;
    padding-right: 2em;
}

.form-top .right .icon {
    float: right;
}

.form-bottom {
    padding: 2%;
}